
@{
    ViewBag.Title = "Demo";
}

<p id="ShowDate"></p>

<script>
    var _currentDate = new Date();
    var _today = "Thứ " + (_currentDate.getDay() + 1) + ", " + _currentDate.getDate() + "/" + (_currentDate.getMonth() + 1) + "/" + _currentDate.getFullYear();
    document.getElementById("ShowDate").innerHTML = _today;
</script>
<h1>Cao tốc Pháp Vân - Cầu Giẽ ngập nặng, cấm xe dưới 16 chỗ</h1>
<p>Sáng 12/9, cao tốc Pháp Vân - Cầu Giẽ cấm xe dưới 16 chỗ do ngập nặng cả hai chiều tại khu vực huyện Thường Tín, làn số 3 và làn khẩn cấp ngập 0,7-0,8 m.</p>
<ul style="list-style-type:circle">
    <li><a href="https://vnexpress.net/cao-toc-phap-van-cau-gie-ngap-nang-cam-xe-duoi-16-cho-4791912.html"> Nguồn bài viết</a></li> 
    <li><a href="#930">9h30: Đường Võ Chí Công ngập 30cm do mưa</a></li>
    <li><a href="#940">9h40: Nhiều điểm úng ngập</a></li>
    <li><a href="#955">9h55: Đóng một số cửa khẩu qua đê sông Hồng</a></li>
    <li><a href="~/Home/About">Đóng một số cửa khẩu qua đê sông Hồng</a></li>
    <li><a href="~/Home/About" target="_blank"> Đóng một số cửa khẩu qua đê sông Hồng</a></li>

</ul>
<hr />
<p id="930">9h30</p>
<h5>Đường Võ Chí Công ngập 30cm do mưa</h5>
<p>
    Hai bên đường Võ Chí Công đoạn dẫn lên cầu Nhật Tân (quận Tây Hồ) đến 9h20 sáng 12/9 vẫn còn ngập khoảng 30 cm khiến dòng xe đi hướng Sân bay quốc tế Nội Bài di chuyển chậm. Nhiều người đi xe máy phải dắt bộ. Công ty Thoát nước Hà Nội đã sử dụng hai xe bơm di động để đẩy nhanh khả năng thoát nước.
    <br />
    <br />
    Tuyến đường này bị ngập từ chiều qua, các xe bị ùn ứ, di chuyển nhích từng bước ở làn giáp dải phân cách.
</p>

<img src="~/Content/image/hinh1.jpg" style="width:60%" title="Tuyến đường bị ngập" />
<figure>Đường Võ Chí Công ngập, sáng 12/9. Ảnh: Nguyễn Đông</figure>
<hr />


<p id="940">9h40</p>
<h5>Nhiều điểm úng ngập</h5>
<p>
    Sáng 12/9, phường Cự Khối, quận Long Biên tiếp tục ngập nặng, người dân phải di chuyển bằng thuyền. Một số khu vực như nhà văn hóa xã, khu vui chơi, nước ngập cao ngang cửa nhà dân.
</p>
<img src="~/Content/image/hinh2.jpg" style="width:60%" title="Nhà văn hóa của phường Cự Khối ngập nặng" />
<figure>Nhà văn hóa của phường Cự Khối ngập nặng. Ảnh: Võ Hải</figure>
<p>
    Theo báo cáo của Công ty Thoát nước Hà Nội, đến tối qua thành phố còn một số điểm úng ngập như Lưu vực Cầu Bây: Ngọc Lâm (Long Biên); Phố Hoàng Như Tiếp (trường tiểu học Ngọc Lâm); ngõ 80 Hoa Lâm; Cổ Linh (Trường THCS Long Biên); Vũ Xuân Thiều; Đường Đàm 3 Quang Trung...
    <br /><br />
    Lưu vực sông Nhuệ còn ngập ở một số đoạn, gồm Đại lộ Thăng Long; đường Quyết Thắng, phố Nhuệ Giang. Phía Tả sông Nhuệ, khu vực Triều Khúc, Cầu Bươu (Bệnh viện K), Yên Xá, Võ Chí Công (tòa nhà UDIC), Kẻ Vẽ (đoạn ngã 3 chợ Vẽ), EcoHome, Phú Xá (ngã 3 Phú Xá - Phúc Hoa), ngõ 89 Lạc Long Quân.
</p>
<p id="955">9h55</p>
<h5>Đóng một số cửa khẩu qua đê sông Hồng</h5>
<p>
    Ban chỉ huy Phòng chống thiên tai, Tìm kiếm cứu nạn Hà Nội cho biết nước lũ sông Hồng, sông Đuống, sông Đáy trên báo động hai và đang tiếp tục lên. Sông Tích, sông Bùi, sông Cầu, sông Cà Lồ trên báo động ba.
    <br />
    <br />
    Để đảm bảo an toàn, Ban đề nghị quận, huyện, thị xã tổ chức lực lượng tuần tra, canh gác bảo vệ đê điều; xử lý các sự cố thiên tai ngay từ đầu theo phương châm "4 tại chỗ". Các đơn vị rà soát lại toàn bộ các điếm canh đê; dọn dẹp sạch sẽ, phát quang cây cỏ dại trong phạm vi điếm; rà soát bổ sung trang bị các dụng cụ, sổ sách và hướng dẫn về chuyên môn, nghiệp vụ cho đội tuần tra, canh gác...
    <br />
    <br />
    Một số cửa khẩu qua đê sông Hồng ở địa bàn phường Cự Khối, quận Long Biên được đóng từ ngày 11/9 để đảm bảo an toàn.
</p>

<video width="320" height="240" controls ><source src="https://www.youtube.com/watch?v=f9P7_qWrf38" /></video>
<figure>Một số cửa khẩu qua đê sông Hồng ở địa bàn phường Cự Khối, quận Long Biên được đóng từ ngày 11/9 để đảm bảo an toàn. Video: Võ Hải</figure>
<hr />
<p style="text-align:right"><b>Gia Chính</b></p>
<hr style="border:3px solid red" />
<div style="width:100%">
    <div style="width:30%; float:left">
        <img src="~/Content/image/hinh1.jpg" style="width:150px;height:150px" />
    </div>
    <div style="width:70%">
        <h3>Đường Võ Chí Công ngập 30cm do mưa</h3>
        <p>Tuyến đường này bị ngập từ chiều qua, các xe bị ùn ứ, di chuyển nhích từng bước ở làn giáp dải phân cách.</p>
    </div>

</div>
<hr style="border:3px solid red;clear:both" />
<form>
    <input type="text" id="txtHoTen" placeholder="Họ Tên" />
    <input type="text" id="txtEmail" placeholder="Email" /><br />
    <textarea rows="5" cols="50" style="margin-top:15px"></textarea><br />
    <button>Gửi</button>

</form>
